/****** BASE STYLES ********/
/*** change the fixed-width design into a fluid design.  Full-width of the webiste is 1100px. ***/

body{
	font-family: "Source Sans Pro", sans serif;
	color: #2b2b2b;
	font-size: 21px;
}

/* height of website calculated at 2284.68px */

#work1, #about, #contact {
	/*** Full-width = 1100px, height = 600px ***/
	/* height: 54.54545454%; */
	height: 600px;
}

#work2 {
	height: 500px;
}



/****** GRID ******/

.full-width{
	/*** change the fixed-width design into a fluid design.  Full-width of the website is 1100px. ***/
	width: 1100px;
	margin: 0 auto;
}

.half-width{
	/*** Half-width of the website is 550px. ***/
	width: 50%;
	float: left;
}

.third-width{
	/*** Third-width of the website is 366px. ***/
	width: 33.333333%;
	float: left;
}



/****** Header Section ******/

header{
	background: no-repeat url("../image/hero-700.png");
	/* background-size: 100% auto; */
	background-size: cover;
	/*** Full-width = 1100px, height = 700px; ***/
  height: 700px;
}

header h1{
  color: #BBC085;
	font-family: "Lora", serif;
	font-size: 1.195em; /* 25 divided by 21 */
	/*** h1 occupies element that is 550px (half-width) padding = 20px ***/
	padding: 3.6363636% 0;  /* 20 divided by 550 */
}

header h2{
	/*** h2 occupies element that is 1100px (full-width) ***/
	clear: both;
	color: black;
	font-family: "Lora", serif;
	font-size: 3.095em; /* 65 divided by 21 */
	line-height: 1.230em; /* 80 divided by 65 - must be realtive to font-size */
	padding: 1.8181818% 0 1.8181818% 2.27272727%; /* padding: 20px 0 20px 25px */
	width: 81.81818181%; /* 900 divided by 1100 */
}

nav{
	/*** nav elements occupy a half-width element (550px) ***/
	float: right;
	/*** padding: 50px 20px ***/
	/* padding: 9.09090909% 3.63636363%; /* 50 divided by 550 and 20 divided by 550 */
	padding: 50px 20px;
	/* text-align: left; */
}

nav ul {
	list-style-type: none;
}

nav li{
	display: inline-block;
}

nav ul li a{
	/*** each list item occupies element that is half-width (550px) ***/
	color: #828282;
	font-size: 0.857em; /* 18 divided by 21 */
	/* padding-left: 9.09090909%; /* padding-left: 50px, */
	padding-left: 20px;
	text-decoration: underline;
	text-transform: uppercase;
}



/****** Work1 Section ******/

#work1 .full-width{
	/*** padding: 60px 0px, work height = 600px, full-width = 1100px***/
	padding: 8.571429% 0;
}

#work1 h2{
	font-family: "Lora", serif;
	font-size: 1.714em; /* 36 divided by 21 */
	/*** padding-left: 50px, work height = 600px, full-width = 1100px***/
	padding-left: 8.33333333%;
}

#work1 p{
	font-size: 1em;
	color: #7F7F7F;
	line-height: 1.904em; /* 40 divided by 21 */
	/*** padding-left: 50px, work height = 600px, full-width = 1100px***/
	padding-left: 8.33333333%;
	/*** padding-right: 20px work height = 600px, full-width = 1100px***/
	padding-right: 3.33333333%;
}



/****** Work2 Section ******/

#work2{
	background: #F9CEB7;
	text-align: center;
}

#work2 .full-width{
	/*** padding: 100px 0px, work height = 600px, full-width = 1100px***/
	padding: 80px 0px;
}

#work2 img{
	/*** padding-bottom: 30px work height = 600px, full-width = 1100px***/
	padding-bottom: 30px;
}

#work2 h3{
	font-size: 1.142em; /* 24 divided by 21 */
	line-height: 1.523em; /* 32 divided by 21 */
	/*** padding-bottom: 30px work height = 600px, full-width = 1100px***/
	width: 60%;
	margin: 0 auto;
}

#work2 p{
	/*** font-family: "Lora", serif; ***/
	font-size: 21px; /* 18 divided by 21 */
	line-height: 1.428em; /* 30 divided by 21 */
	/*** padding: 0 20px, work height = 600px, full-width = 1100px***/
	padding: 0 20px;
}



/****** About Section ******/

#about .full-width{
	/*** padding: 60px 0, about height = 600px, full-width = 1100px***/
	padding: 60px 0;
}

#about h2{
	font-family: "Lora", serif;
	font-size: 36px;
	/*** padding-left: 50px, about height = 600px, full-width = 1100px***/
	padding-left: 50px;
}

#about p{
	font-size: 21px;
	color: #7F7F7F;
	line-height: 40px;
	/*** padding-left: 50px, about height = 600px, full-width = 1100px***/
	padding-left: 50px;
	/*** padding-right: 20px, about height = 600px, full-width = 1100px***/
	padding-right: 20px;
}



/****** Contact Section (in footer) ******/

#contact{
	background: #E1F5A9;
}

#contact .full-width{
	/*** padding: 50px 0, contact height = 600px, full-width = 1100px***/
	padding: 50px 0;
}

#contact img#contact-img{
	/*** padding: 50px 0, contact height = 600px, full-width = 1100px***/
	margin: 20px;
	border: 12px solid #FFFFFF;
}

#contact h2, #contact #email-header, #contact #socialmedia-header, #contact ul
{
	/*** padding: 50px 0, contact height = 600px, full-width = 1100px***/
	padding-left: 100px;
}

#contact #envelope{
	/*** padding: 50px 0, contact height = 600px, full-width = 1100px***/
	padding: 0 10px 0 115px;
}

#contact h2{
	font-family: "Lora", serif;
	font-size: 36px;
	line-height: 44px;
}

#contact #email-header{
	font-size: 32px;
	font-weight: 100;
	line-height: 44px;
	/*** padding: 50px 0, contact height = 600px, full-width = 1100px***/
	margin: -30px 0 5px 0;
}

#contact #socialmedia-header{
	font-size: 29px;
	font-weight: bold;
	line-height: 44px;
	/*** padding: 50px 0, contact height = 600px, full-width = 1100px***/
	margin: 40px 0 0 0;
}

#contact a{
	text-decoration: underline;
	color: #C49075;
	font-weight: bold;
	font-size: 28px;
}

#contact ul{
	list-style: none;
}

#contact ul li{
	display: inline-block;
	position: relative;
	/*** padding: 50px 0, contact height = 600px, full-width = 1100px***/
	left: 130px;
}

#contact ul img{
	font-size: 32px;
	/*** padding: 50px 0, contact height = 600px, full-width = 1100px***/
	padding-right: 48px;
}



/****** PORTFOLIO PAGE ******/

#portfolio .full-width{
  height: 1450px;
}

#portfolio .half-width{
  height: 350px;
  padding-top: 55px;
}

#portfolio h2{
  margin: 0;
  font-family: 'Lora', serif;
  font-size: 38px;
  font-weight: bold;
  padding: 50px 0 60px 0;
  text-align: center;
  text-transform: capitalize;
}

#portfolio h3{
  margin: 0;
	font-size: 27px;
  font-weight: bold;
	padding: 0 0 15px 50px;
  text-transform: capitalize;
}

#portfolio p{
  margin: 0;
	font-size: 21px;
	padding: 0 0 15px 50px;
}

#portfolio ul{
	margin: 0;
	font-size: 21px;
	padding: 0 0 10px 70px;
}

#portfolio ul li{
	margin: 0;
	font-size: 19px;
	padding: 0 0 7px 10px;
}
